<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>real strong</title>
  </head>
  <body>
    <h1>Strong Brews</h1>
    <h3>Strength: <%=@way_strong%></h3>
    <ul>
      <%@strongest.each do |brew|%>
        <li><%=brew.blend_name%></li>
      <%end%>
    </ul>
  </body>
</html>
